@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-gray-900 font-sans antialiased;
  }

  ::-webkit-scrollbar {
    @apply w-1.5;
  }

  ::-webkit-scrollbar-track {
    @apply bg-gray-100;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-gray-300 rounded-full;
  }
}

.dark body {
  background-color: rgb(2 6 23);
  color: rgb(241 245 249);
}

.dark ::-webkit-scrollbar-track {
  background-color: rgb(15 23 42);
}

.dark ::-webkit-scrollbar-thumb {
  background-color: rgb(71 85 105);
}
